In [39]:
#Question 1:
#Answer:
m = [('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]
print("THE GIVEN LIST IS",m)
n = sorted(m,key = (lambda x: x[1]))
print("THE SORTED LIST IS",n)

THE GIVEN LIST IS [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
THE SORTED LIST IS [('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [10]:
#Question 2:
#Answer:
l = [1,2,3,4,5,6,7,8,9,10]
a = list(map((lambda x : x**2),l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
#Question 3:
#Answer:
l1 = [1,2,3,4,5,6,7,8,9,10]
b = tuple(map((lambda x : str(x)),l1))
print(b)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [28]:
#Question 4:
#Answer:
from functools import reduce
l2 = []
for i in range(1,26):
    l2.append(i)
print(l2)
product = reduce((lambda x,y : x*y),l2)
print(product)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

In [31]:
#Question 5:
#Answer:
l3 = [2,3,6,9,27,60,90,120,55,46]
d = list(filter((lambda x: x%2==0 and x%3==0),l3))
print(d)

[6, 60, 90, 120]

In [35]:
#Question 7:
#Answer:
s = ['python','php','aba','radar','level']
palindrome = list(filter((lambda x : x==x[::-1]),s))
print(palindrome)

['php', 'aba', 'radar', 'level']